<% @users.each do |user| %>
<div>
  <p>image</p>
    <% if user.image.attached? %>
      <%= image_tag user.image, size: "200×200" %>
    <% else %>    
      <% image_tag "no_image.jpg", size: "200×200" %>
    <% end %>
  <p>name</p>
    <%= user.name %>
</div>
<% end %>